body {
    overflow: hidden;
}

.card-container {
    height: calc(100vh - 52px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.discordapp.com/attachments/1318169985922629703/1318593861777362964/home.JPG?ex=6762e3ba&is=6761923a&hm=1817e2d811161fe92a106a2d47ddab397e186eca9c9949eec0c7460f359878c7&");
    background-size: cover;
    /* Fa sì che l'immagine copra tutta la pagina */
    background-position: center;
    /* Posiziona l'immagine al centro */
    background-repeat: no-repeat;
    /* Evita la ripetizione dell'immagine */
    position: relative;
}

.card-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    /* Overlay nero con opacità 45% */
    z-index: 1;
}

.home-title {
    font-size: 4rem;
    color: #1A1C1C;
}

.paragraph {
    font-size: 2rem;
    color: #1A1C1C;
}


