body {
    background-color: #000000;
}

.card {
    border: none !important;
    border-radius: 12px;
}

.card-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
}

.form-label {
    font-size: 1rem;
    color: #495057;
}

.form-control,
.form-select {
    border-radius: 8px;
    font-size: 0.95rem;
}

button {
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}